*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*revisar el body */
body {
    font-family: 'Open Sans', sans-serif;
}

/* aplicamos estilos al contenedor padre */
.contenedor {
    margin: auto; /*para centrar mi diseño*/
    width: 100%;
    max-width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*los elementos que no cogen, se pongan debajo*/ 
                    /*y así el header ocupe el 100% */
    
}

/*header es el contenedor padre de nav */
header {
    width: 100%;
    padding: 5px 0;
    display: flex;    
    flex-direction: row;
    align-content: flex-end; 
    border-bottom: 3px solid rgb(255, 102, 5);
    position: relative;
}
button{     
    background-color: rgb(255, 102, 51);
    border: none;  
    width: 20%;  
    height: max-content;
    display: flex;   
    padding: 18px;       
      
    position: absolute;
    font-size: 150%;
    color: white;
    margin: auto;
    text-align: center;
    
}
.loginButton {
    display: flex;
    border-radius: 42px;
    text-align: center;
    
    left: 75%;
    bottom: 50%;
    
}
.span{
    display: block;
    align-items: center;
    width:100%;
    text-align: center;
    background-color: rgb(76,79,177);
    color: white;
    border: solid 2px black;
    align-items: center;
}
.span p a{
    color: rgb(252, 250, 250);
}
.span p a:hover{
    text-decoration: underline;    
}

header .menu {   
    width: 25%;  
    height: max-content;
    display: flex;      
    justify-content: space-between;   
    position: absolute;
    bottom: 1%;
    left: 30%;
    
}

header .menu a {
    color: #000;
    text-decoration: none; 
    margin-left: 10%;  
    font-size: 28px;
    border-top: 3px solid rgb(255, 102, 5);
}

header .logo{
    width: 60%;
    height: auto;
}
header .logo img{   
    width: 40%;
    height: 100%;
    padding: 0;
    margin-left: 10%;
   
}

/*definimos el responsive para que al cambiar la pantalla de tamaño, nos salgan los elementos bien */
/*por ejemplo, que el aside en vez de mantenerse vertical, se mueva debajo del main y sea horizontal*/

@media screen and (max-width: 800px) {
    .main {
        width: 100%;

    }

    aside {
        width: 100%;
        flex-direction: row;
    }

    aside .ad {
        width: 40%;
    }
} 

/*arreglamos el contenido, especialmente el footer, centramos el logo y el menu lo ponemos centrado y debajo del logo */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header .menu {
        width: 100%;
        background: rgba(255,255,255,0.2);
        text-align: center;
        padding: 20px;       
    }

    header .menu a {
        margin: 0 20px;
    }

    header .logo {
        margin-bottom: 20px;
    
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer .autor {
        order: 2;
    }

    footer .redes-sociales {
        order: 1;
        margin-bottom: 20px;
    }
}

/*para tamaños pequeños, queremos que desapareza el aside */
@media screen and (max-width: 400px) {
    aside {
        display: none;
    }

}