*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: "Zeitung Micro Pro";
    src: url("fonts/zeitnug-micro-pro.otf") format("opentype"); 
}

body {
    font-family: "Zeitung Micro Pro";   
}

.contenedor {
    display: flex;
    margin: auto; 
    width: 100%;
    max-width: max-content;   
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
       
}
button a{
    color: rgb(252, 250, 250);
    text-decoration: none;
    text-align: center;
    
}
.loginButton:hover{
    background-color: rgb(252, 106, 57);
    -webkit-box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
    -moz-box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
    box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
}
button:hover{
    background-color: rgb(252, 106, 57);
    -webkit-box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
    -moz-box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
    box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
}
/*header es el contenedor padre de nav */
header {
    width: 100%;
    padding: 5px 0;
    display: flex;    
    flex-direction: row;
    align-content: flex-end; 
    border-bottom: 3px solid rgb(255, 98, 0);
    position: relative;
}
button{     
    display: flex;   
    background-color: rgb(255, 102, 51);
    border: none;
    width: 20%;  
    height: max-content;   
    padding: 15px;       
    justify-content: center; 
    position: absolute;
    font-size: 120%;
    color: white;
    margin: auto;
    text-align: center;
    
}
.loginButton {
    display: flex;   
    background-color: rgb(255, 102, 51);
    border: none;
    width: 20%;  
    height: max-content;   
    padding: 15px;       
    justify-content: center; 
    position: absolute;
    font-size: 120%;
    color: white;
    margin: auto;
    text-align: center;
    word-spacing: 5px;
    border-radius: 42px;  
    left: 75%;
    bottom: 50%;   
}
.masInfo {
    display: flex;   
    background-color: rgb(255, 102, 51);
    border: none;
    width: 20%;  
    height: max-content;   
    padding: 15px;       
    justify-content: center; 
    position: absolute;
    font-size: 120%;
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 34px; 
    
}
.span{
    font-family: sans-serif;
    display: block;
    align-items: center;
    width:100%;
    text-align: center;
    background-color: rgb(76,79,177);
    color: white;
}
.span p a{
    color: rgb(252, 250, 250);  
}
.span p a:hover{
    text-decoration: underline;    
}

header .menu {  
    display: flex; 
    width: 27%;  
    height: max-content;         
    justify-content: space-between;   
    position: absolute;
    bottom: 1%;
    left: 30%;
    margin: auto;
    text-align: center;

    
    
}
button,input{
    border: none;
    background: none;

}

header .menu a {
    color: #000;
    text-decoration: none; 
    margin-left: 12%;  
    font-size: 36px;
    border-top: 3px solid rgb(255, 102, 5);
}
header .menu input:hover {
    color: rgb(255, 102, 5);   
}

header .logo{
    width: 63%;
    height: auto;
}
header .logo img{   
    width: 34%;
    height: 100%;
    padding: 0;
    margin-left: 10%;
   
}
.content{
    width: 100%;
    padding: 5px 0;
    height: 500px;
    display: flex;    
    flex-direction: column;
    justify-content: center; 
    border-bottom: 3px solid rgb(255, 102, 5);
    
    background-color: rgb(242, 250, 251);
}
.filas{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    border: none;   
    align-items: center;  
}
.filasPrecios{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: none;   
    
      
}
.elementos{
    font-size: large;
    width: 30%;   
    margin-left: 20px;
    height: 100%;
    margin: auto;
    margin-top: 5px;
    border-radius: 34px; 
    padding: 20px;
    overflow: hidden; 
}
.elementoPrecios{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 20%;       
    height: 100%;
    margin: 20px;
    margin-top: 5px;
    border-radius: 30px; 
    padding: 20px;
    overflow: hidden; 
    
}
.elementoRegister{
    width: 50%;   
    margin-left: 20px;
    height: 100%;
    margin: auto;       
}
.violeta{
    background-color: rgb(76, 79, 177);        
} 
.naranja {
    background-color: rgb(255, 102, 51);
}
.azul{
    background-color: rgb(26, 171, 192);
}
.yellow{
    font-family: "Zeitung Mono Pro";
    color: rgb(238, 255, 0);
}
.elementos p{
    margin: 5px;
    text-justify: auto;
    line-height:25px;
      
}

#tituloContenido{
    font-family: "Neue Haas Unica";
    width: 100%;
    margin: 15px;
    text-align: center;
    color: rgb(127, 133, 167);
}
.oscureBlue{
    color: rgb(0,19,80);
}

footer {
    margin: 5px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;  
    justify-content: space-between; 
    flex-wrap: wrap;
}
.foot{
    display: column;
    flex-direction: row;
    justify-content:flex-end;
    font-size: 22px;
        
    
}
footer .foot p {   
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 1px;
}
footer .foot p:hover {   
    text-decoration: underline;
}
footer .foot h4 {
    color: rgb(0, 0, 0);
    margin: 1px;
}

.logoText{
    font-family: "Neue Haas Unica";
    color:  rgb(255, 102, 51);
    text-align: center;
}

.twitterButton{
    color: rgb(0, 247, 255);    
    background-color: white;
    width: 100%;   
    margin-top: 10px;   
    border: solid 2px aqua; 
    border-radius: 34px; 
    padding: 10px;
}
.twitterButton:hover{
    color: aqua;
    background-color: white;
    text-decoration: underline;
    -webkit-box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
    -moz-box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
    box-shadow: 2px 4px 25px 2px rgba(117,117,117,0.76);
}
#spanTwitter{
    margin-left: 10px;
}
#autor{
    color: rgb(153, 153, 153);
    margin-top: 10px;
    text-align: center;
}
.pPreciosFree{
    padding: 2px;
    text-indent: 10px;
    margin: 10px;
    
}
.pPreciosPremium{
    padding: 2px;
    text-indent: 10px;
    margin: 10px;

}
.pPreciosPremiumPlus{
    padding: 2px;
    text-indent: 10px;
    margin: 10px;

}

.pPreciosFree p{
    line-height : 35px;
}
.pPreciosPremium p{
   
    line-height: 30px;
}
.pPreciosPremiumPlus p{
    line-height: 30px;
}
.barraMes{
    font-size: 16px;
}

.purchase {   
    background-color: rgb(94, 94, 94);
    border: none;  
    height: max-content;   
    padding: 15px;
    border-radius: 12px;        
    font-size: 120%;
    color: white;
    text-align: center;
    width: 15%;   
}
.purchase:hover{
    background-color: rgb(43, 43, 43);

}
@media screen and (max-width: 1100px){
    .foot{
        font-size: 18px;
    }
}

@media screen and (max-width: 900px){
    .foot{
        font-size: 14px;
    }
}
@media screen and (max-width: 700px) {
    header {
        width: 100%;
        padding: 5px 0;
        display: flex;    
        flex-direction: row;
        align-content: flex-end; 
        border-bottom: 3px solid rgb(255, 102, 5);
        position: relative;
    }
    input[type="button"]
    {
        font-size: 12px;
    }
    header .menu {       
        display: flex; 
        width: 25%;  
        height: max-content;         
        justify-content: space-between;   
        position: absolute;
        bottom: 1%;
        left: 30%;
        margin: auto;
        text-align: center;     
    }

    header .menu a {
        color: #000;
        text-decoration: none; 
        margin-left: 10%;  
        font-size: 28px;
        border-top: 3px solid rgb(255, 102, 5);
    }
    button{
        font-size: 100%;
        padding: 8px;
    }
    .masInfo{
        width: 36%;
    }
    footer .autor {
        order: 2;
    }
    .foot{
        font-size: 11px;
    }
}
@media screen and (max-width: 600px){
    .foot{
        font-size: 7px;
    }
}


